* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* =============common=========== */
a {
  text-decoration: none; /* làm mất gạch chân */
}
.main-content {
  width: 1170px;
  /* làm cách 2 bên lề 24px (trừ 48 là do cộng 2 bên lề bằng 48) */
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  min-width: 118px;
  /* padding: 0 16px; */
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  width: 600;
  font-size: 1.6rem;
  border-radius: 24.5px;
  background-color: #171100;
}
.btn:hover {
  opacity: 0.9; /* làm mờ */
  cursor: pointer;
}
.heading-h2 {
  font-family: var(--font-heading);
  color: #171100;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26; /* 126.316 */
  letter-spacing: -2%;
}
/* đại khái text dài quá cho hiển thị một dòng khi dùng class náy */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* đây là 2 dòng */
.line-clamp.line-2 {
  --line-clamp: 2;
}

/*==================header===================*/
.header {
  background: #fffcf4;
}
.header.fixed {
  /* khi quận xuống thanh menu quận xuống theo */
  position: sticky;
  top: -28px;
  /* chánh bị ảnh đè lên thanh quấn */
  z-index: 1;
}
.header .body-header {
  display: flex;
  align-items: center;
  padding: 30px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  color: #5f5b53;
  /* font-size: 16px; */
  /* đồi sang rem */
  font-size: 1.6rem;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;

  padding: 8px 21px;
  /*  hoặc  */
  /* margin: 8px 21px; */
}
/* hover hiệu ứng di chuột vào */
.nav li.active a,
.nav a:hover {
  /* font-weight: 600; */
  /* hoặc dùng để đỡ bị kéo chữ*/
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  display: block;
  background: #171100;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
/* ==================hero================= */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}
.hero .body-hero {
  display: flex;
}
/* ----------------hero left--------------- */
.hero .media-block {
  /*cách tính lấy chiều dài trên figma của media-block là 570px chia cho chiều dài mặc định của web 1170px  ra sấp sỉ 48%  */
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  /* đỡ bị vỡ ảnh */
  object-fit: cover;
  border-radius: 20px;
}
.hero .hero-summary {
  padding: 24px;
  width: 270px;
  /* height: 244px; */
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0.05);
}
.hero-summary .item {
  align-items: center;
  display: flex;
}
/* tác động đến class item sau một class item */
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}
.hero-summary .icon2 {
  background: #fcefff;
}
.hero-summary .icon3 {
  background: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.hero-summary .title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #171100;
  line-height: 1.67; /*166.667% */
}
/* ----------------hero right-------------- */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .heading {
  font-family: var(--font-heading);
  color: #171100;
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}
.hero .desc {
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
  color: #5f5b53;
}
.hero .cta-group {
  align-items: center;
  margin-top: 38px;
  display: flex;
}
.hero .btn-see-courses {
  width: 180px;
  line-height: 64px;
  border-radius: 32px;
  background-color: var(--primary-color);
}
.hero .watch-video {
  margin-left: 28px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer; /* thêm hiệu ứng chỉ vào bàn tay */
}
.hero .watch-video .icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  font-size: 1.8rem;
  font-weight: 600;
  color: #171100;
  line-height: 1.67; /* 166.667% */
  margin-left: 14px;
}
.hero .desc-recent {
  margin-top: 48px;
}
.desc-stats {
  margin-top: 8px;
}
.hero .desc-stats strong {
  font-size: 44px;
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 54px;
  margin-right: 15px;
}
.hero .desc-stats strong:nth-child(2) {
  margin-left: 28px;
}
/* =================popular================= */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  font-size: 18px;
  font-weight: 400px;
  line-height: 1.67; /* 166.667 */
  color: #5f5b53;
}
.popular-top .controls {
  display: flex;
  gap: 18px;
}
.popular-top .controls-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
  height: 40px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 50%;
}
.popular-top .controls-btn:hover {
  background-color: var(--primary-color);
  color: #ffffff;
  cursor: pointer;
}
/* =================popular bot=============== */
.popular .course-list {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}
.popular .course-item {
  /* làm cho các khối mang class course-item luôn luôn bằng nhau  */
  flex: 1;
  background-color: #ffffff;
  margin-top: 55px;
  border-radius: 12px;
  border: 1px solid #e2dfda;
}
.popular .course-item:hover {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}
.popular .course-item .thumb {
  height: 278px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
  width: 100%;
}
.popular .course-item .info {
  padding: 16px 22px 22px;
}
.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .title a {
  font-weight: 600;
  size: 1.8rem;
  line-height: 1.67; /* 166.667% */
  color: #171100;
}
.popular .rating .value {
  margin-left: 6px;
  font-size: 1.6rem;
  color: #fea31b;
  line-height: 1.75; /* 175% */
}

.popular .course-item .desc {
  font-size: 1.4rem;
  margin-top: 6px;
  color: #5f5b53;
  line-height: 1.86; /* 185.741% */
}
.popular .course-item .foot {
  margin-top: 12px;
}
.popular .course-item .price {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667 */
  color: #171100;
}

.popular .course-item .btn-book-now {
  color: #ffffff;
  border: none;
  width: 118px;
  height: 50px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 26px;
}

.popular .course-item .btn-book-now:hover {
  background-color: var(--primary-color);
}
/* =====================feedback================== */
.feedback {
  margin-top: 135px;
  background-color: #2e2100;
  padding: 96px 0;
  /* height: 380px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.feedback .feedback-list {
  display: flex;
  overflow: hidden;
}
.feedback .feedback-item {
  width: 100%;
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
  flex-shrink: 0;
}
/* -------------left---------------- */
.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback .info .member-name {
  margin-top: 18px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42; /*141.667% */
  color: #f7f7f7;
}
.feedback .info .desc {
  margin-top: 4px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714 (26px)*/
  color: #bfbcb2;
}
/* .feedback .info .foot {
  margin-top: 28px;
} */
.feedback-item .dots {
  margin-top: 28px;
  gap: 6px;
  display: flex;
}
.feedback-item .dot {
  width: 6px;
  height: 6px;
  background: #634700;
  border-radius: 50%;
  cursor: pointer;
}
.feedback-item .dot.active {
  background: var(--primary-color);
  /* tắt hiện bàn tay */
  cursor: default;
}
/* ------------------right----------------- */
.feedback .feedback-item .content {
  /* cách tính % lấy khối content=770 này chia cho feedback=1170*/
  width: 66%;
  margin-left: auto;
}
/* .feedback .content .open-quotes {
  margin-bottom: 11px;
} */
.feedback .content blockquote {
  color: #ffffff;
  font-size: 2.6rem;
  font-weight: 400;
  font-style: italic;
  /* line-height: 40px; */
  line-height: 1.53; /* 153.846% */
  margin-left: 30px;
}
/* ===============features 1============= */
.features {
  margin-top: 135px;
  padding: 65px 0;
}
.features .main-content .body {
  display: flex;
  justify-content: space-between;
}
.features .body .images {
  display: flex;
  gap: 30px;
}
.features .body .image {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}
.features .body .image-left {
  margin-top: 34px;
}
.features .body .image-right {
  margin-bottom: 34px;
}
.features .content {
  width: 40%;
  /* margin-left: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features .content .heading-h2 {
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
}
.features .content .desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  color: #5f5b53;
  margin-top: 16px;
}
.features .content .btn {
  margin-top: 32px;
  background-color: var(--primary-color);
  width: 137px;
  height: 50px;
  border-radius: 26px;
}
/* ===============features 2============= */
.features-2nd {
  margin-top: 70px;
}
.features-2nd .body {
  /* đổi hướng phần từ trong body */
  flex-direction: row-reverse;
}
.features-2nd .body .content {
  width: 49%;
}
.features-2nd .images .image {
  width: 470px;
  height: 440px;
  border-radius: 20px;
}
